
#entity-backend-search-settings-form table td,
#entity-backend-search-settings-form table th {
  padding: 3px 10px;
}

#entity-backend-search-settings-form .fieldset-description {
  font-size: 75%;
}

table#entity-backend-search-settings-overview tr.disabled td,
#entity-backend-search-settings-form table tr.disabled td {
  color: rgb(150, 150, 150);
  font-style: italic;
}

table#entity-backend-search-settings-overview tr.enabled td.label {
  font-weight: bold;
  font-size: 1.2em;
}

#entity-backend-search-filters-form div.form-item {
  padding: 0;
}

#entity-backend-search-filters-form div.description {
  margin: 1px 0 5px;
}

#entity-backend-search-filters-form .container-inline-date .date-padding {
  padding: 0 10px 5px;
}

span.entity-backend-search-info {
  padding: 0 0 0 18px;
  height: 16px;
  background: url('/misc/message-16-help.png') no-repeat 0 1px;
  cursor: help;
}
span.entity-backend-search-info span {
  font-weight: bold;
}
